.box-data {
	-fx-border-width: 2px;
	-fx-border-radius: 10px;
}

.box-data.voltage {
	-fx-border-color: red;
}

.box-data.current {
	-fx-border-color: green;
}

.box-data.power {
	-fx-border-color: blue;
}

.box-chart {
	-fx-border-color: black;
}

.node-chart {
	default-color: green;
}

.node-content {
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-border-radius: 5px;
}
